<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExtendedAssert" version="1.0.3" targetFramework="net452" />
  <package id="JustMock" version="2015.3.929.5" targetFramework="net452" />
  <package id="Microsoft.Net.Compilers" version="1.1.1" targetFramework="net461" developmentDependency="true" />
</packages>