@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Do a search</h2>
    @using (Html.BeginForm("Search", "Home"))
    {
        <p class="lead">Enter a technology and location for which to search.</p>
        <p>@Html.Label("Location") @Html.TextBox("Location")</p>
        <p>@Html.Label("Language") @Html.TextBox("Language")</p>
        <input type="submit" formaction="Home/Search" value="Search" />
        <input type="submit" formaction="Home/Export" value="Export"/>
    }
</div>
